.builder-container {

    .top-builder {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color);

        .top-title {
            display: flex;
            justify-content: space-between;
            width: 80%;

            .top-title-left {
                .text-left {
                    font-weight: 700;
                }
            }

            .top-title-right {
                display: flex;
                gap: 20px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }

        .top-components {
            border-left: 1px solid var(--border-color);
            width: 268px;

            .attribute {
                font-weight: 700;
                margin-left: 50%;
            }
        }
    }

    .bottom-builder {
        display: flex;
        justify-content: flex-start;

        .build-left {
            width: 200px;
            height: calc(100% - 50px);
            height: 78vh;
            border-right: 1px solid var(--border-color);

            .block-group {
                padding: 10px;

                .smooth-dnd-draggable-wrapper {
                    width: calc(50% - 10px);
                    margin: 5px;
                    display: inline-block;
                }

                .block-left-item {
                    width: 60px;
                    height: 40px;
                    background: var(--table-border-color);
                    color: var(--general);
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 13px;
                    cursor: pointer;
                }
            }
        }

        .build-center {
            width: calc(100% - 300px);
            height: 77vh;
            margin-top: 10px;

            .smooth-dnd-draggable-wrapper {
                transition: all 0.2s;
                /* 默认状态 */
                background-color: transparent;
                height: auto;

                & .active {
                    // background-color: var(--table-border-color);
                    // height: 70px;
                    border: 1px solid #409EFF;
                    border-radius: 4px;
                    // padding: 10px;
                }

                .content-container {
                    margin: 0 auto;
                    width: 96%;
                    height: auto;


                    .content-item {
                        display: flex;
                        gap: 10px;
                        margin-top: 20px;
                    }
                }
            }
        }

        .build-right {
            width: 305px;
            height: calc(100% - 50px);
            height: 78vh;
            border-left: 1px solid var(--border-color);
            overflow: auto;
        }
    }
}
